* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 2.5fr 1.5fr;
      grid-template-columns: 1.5fr 2.5fr 1.5fr;
  -ms-grid-rows: .5fr 4fr .5fr;
      grid-template-rows: .5fr 4fr .5fr;
  gap: 2px;
  height: 100vh;
  background-color: #AF7732;
}

body > *:not(script) {
  background-color: white;
  color: #AF7732;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__menu {
  font-size: 3em;
  background-color: white;
}

.mid__center {
  background-image: url(../img/1-art.jpeg);
  background-position: center;
  background-size: cover;
  height: 100%;
}

.mid__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  font-size: 3em;
  gap: 2px;
  background-color: #AF7732;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  cursor: pointer;
}

.mid__left .left__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid__left .left__content:hover {
  background-color: #AF7732;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  color: white;
}

.mid__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  font-size: 3em;
  gap: 2px;
  background-color: #AF7732;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  cursor: pointer;
}

.mid__right .right__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid__right .right__content:hover {
  background-color: #AF7732;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  color: white;
}

.bottom__middle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.bottom__middle span {
  position: absolute;
  width: 200%;
  font-size: 2rem;
  -webkit-animation: marquee 10s linear infinite;
          animation: marquee 10s linear infinite;
}

@-webkit-keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -200%;
  }
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -200%;
  }
}
/*# sourceMappingURL=style.css.map */