* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 2.5fr 1.5fr;
      grid-template-columns: 1.5fr 2.5fr 1.5fr;
  -ms-grid-rows: .5fr 4fr .5fr;
      grid-template-rows: .5fr 4fr .5fr;
  gap: 2px;
  height: 100vh;
  background-color: #AF7732;
  font-family: 'Rowdies', cursive;
}

body > *:not(script) {
  background-color: white;
  color: #AF7732;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__left,
.top__center,
.top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
}

.top__left span,
.top__center span,
.top__right span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.top__left span:hover,
.top__center span:hover,
.top__right span:hover {
  background-color: #AF7732;
  color: white;
}

.active {
  width: 100%;
  height: 100%;
  background-color: #AF7732;
  z-index: 5;
}

.active span {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: slide 1s;
          animation: slide 1s;
}

@-webkit-keyframes slide {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes slide {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

.mid__center {
  background-image: url(../img/1-art.jpeg);
  background-position: center;
  background-size: cover;
  height: 100%;
}

.mid__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  font-size: 2em;
  gap: 2px;
  background-color: #AF7732;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  cursor: pointer;
}

.mid__left .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid__left .content:hover {
  background-color: #AF7732;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  color: white;
}

.mid__left .content:nth-child(1), .mid__left .content:nth-child(3), .mid__left .content:nth-child(5) {
  position: relative;
  -webkit-animation: left_slide_1 1s;
          animation: left_slide_1 1s;
}

.mid__left .content:nth-child(2), .mid__left .content:nth-child(4) {
  position: relative;
  -webkit-animation: left_slide_2 1s;
          animation: left_slide_2 1s;
}

@-webkit-keyframes left_slide_1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes left_slide_1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@-webkit-keyframes left_slide_2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes left_slide_2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

.mid__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  font-size: 2em;
  gap: 2px;
  background-color: #AF7732;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  cursor: pointer;
}

.mid__right .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid__right .content:hover {
  background-color: #AF7732;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  color: white;
}

.mid__right .content:nth-child(2), .mid__right .content:nth-child(4) {
  position: relative;
  -webkit-animation: right_slide_1 1s;
          animation: right_slide_1 1s;
}

.mid__right .content:nth-child(1), .mid__right .content:nth-child(3), .mid__right .content:nth-child(5) {
  position: relative;
  -webkit-animation: right_slide_2 1s;
          animation: right_slide_2 1s;
}

@-webkit-keyframes right_slide_1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes right_slide_1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes right_slide_2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes right_slide_2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
  }
}

.bottom__middle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: white;
  white-space: nowrap;
}

.bottom__middle span {
  position: absolute;
  width: 200%;
  font-size: 2rem;
  -webkit-animation: marquee 10s linear infinite;
          animation: marquee 10s linear infinite;
}

@-webkit-keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -200%;
  }
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -200%;
  }
}
/*# sourceMappingURL=style.css.map */