*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 1.5fr;
    grid-template-rows: .5fr 5fr .5fr;
    gap: 2px;
    height: 100vh;
    background-color: #98AFC7;
}

.top__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: white;
}

// .mid__left,
// .mid__middle,
// .mid__right{
//     background-color: white;
// }

.mid__left{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 3em;
    gap: 2px;
    align-items: stretch;
    .left__content{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
}

.mid__right{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 3em;
    gap: 2px;
    align-items: stretch;
    .right__content{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
}
.bottom__left,
.bottom__middle,
.bottom__right{
    background-color: white;
}